:host {
  width: 100%;
  max-width: 800px;
}

.dropzone {
  width: 100%;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 0 auto;
  margin-top: 24px;
}
